[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Theo LEBRUN
	email = mib.ftw@gmail.com
[push]
	default = simple
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
[pull]
	rebase = true
[gpg]
	program = gpg
[commit]
	gpgsign = true
[core]
	hooksPath = /Users/theo/Documents/perso/settings/dotfiles/hooks
